@import '../variables/variables.scss';

@function font(){
    @return $font; 
}

@mixin display($scr) {
    display: $scr;
}

@mixin area($areas) {
    grid-area: $areas;
}

@mixin d_flex($f_display, $direction, $justify, $align) {
    display: $f_display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin d_grid($g_display, $columns, $rows, $g_areas) {
    display: $g_display;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $g_areas;
}

@mixin size($hgt, $wdt) {
    height: $hgt;
    width: $wdt;
}

@mixin radius($bdr) {
    border-radius: $bdr;
}

@mixin size($hgt, $wdt) {
    height: $hgt;
    width: $wdt;
}

@mixin percent($p_vh) {
    margin: $p_vh;
}

@mixin f_size($font) {
    @if($font == small){
        font-size: small;
    }
    @if($font == x-small){
        font-size: x-small;
    }
    @if($font == xx-small){
        font-size: xx-small;
    }
    @if($font == medium){
        font-size: medium;
    }
    @if($font == large){
        font-size: large;
    }
    @if($font == x-large){
        font-size: x-large;
    }
    @if($font == xx-large){
        font-size: xx-large;
    }
    @if($font == larger){
        font-size: larger;
    }
}
