body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
}
#download{
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: large;
  transition-property: all;
  transition-duration: 0.5s;
}
#download:hover{
  opacity: 0.4;
  background: black;
  color: #f06d06;
  cursor: pointer;
}