@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$primary:#48676d;
$secondary:#315147;
$third:#192c54;
$fourth:#2a4937;
$fifth:#313a39;
$sixth:#E9E9E9;

$font:'Bebas Neue', sans-serif;

$half_hundred_percent:50%;
$hundred_percent:100%;

$grid:grid;
$flex:flex;

$small_width:60vw;
$medium_width:80vw;
$full_width:100vw;

$small_height:60vh;
$medium_height:80vh;
$full_height:100vh;

$font_small:small;
$font_medium:medium;
$font_large:large;
$font_larger:larger;

$null:0;
$ten_pixel:10px;
$hundred_pixel:100px;

$width_small:40px;
$width_medium:60px;
$width_large:$hundred_pixel;
$width_larger:calc($hundred_pixel + 50px);

$height_small:40px;
$height_medium:60px;
$height_large:$hundred_pixel;
$height_larger:calc($hundred_pixel + 50px);

$desktop:3568px;

$pointer:pointer;
$hidden:hidden;
$center:center;
$none:none;