@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0; }

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  position: relative;
  background: #192C54;
  color: whitesmoke; }
  body .container {
    overflow: hidden;
    box-shadow: 0 0 22px rgba(231, 218, 209, 0.2);
    height: 60vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    grid-template-areas: "image form"; }
    @media screen and (max-width: 768px) {
      body .container {
        display: grid;
        grid-template-columns: 55% 45%;
        grid-template-rows: 1fr;
        grid-template-areas: "image form"; } }
    @media screen and (max-width: 729px) {
      body .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr;
        grid-template-areas: "form form"; } }
    @media screen and (max-width: 640px) and (orientation: landscape) {
      body .container {
        height: 80vh;
        width: 90vw; } }
    body .container .image-container {
      grid-area: image;
      height: 100%;
      width: 100%; }
      @media screen and (max-width: 729px) {
        body .container .image-container {
          display: none; } }
      body .container .image-container .img {
        height: 100%;
        width: 100%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px; }
    body .container .form-container {
      grid-area: form;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #E9E9E9;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      line-height: 3rem; }
      body .container .form-container .adm-title {
        font-size: 2.5rem;
        color: #192C54; }
        @media screen and (max-width: 368px) {
          body .container .form-container .adm-title {
            font-size: 20px; } }
      @media screen and (max-width: 729px) {
        body .container .form-container {
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px; } }
