@import '../../../styles/index.scss';

.footer {


    //smartv ...
    @media(min-width: 1445px){
        display: $none;
    }

    //desktop ...
    @media(max-width: 1444px) {

        height: 24.66%;
        .contact {

            .form-social{
    
                .social{
    
                    .github,
                    .facebook,
                    .linkedin,
                    .instagram,
                    .youtube {
                        @include size(50px, 50px);
                    }
                }
            }
        }
    }

    @media(max-width:1024px) {
        display: $flex;
        font-family: font();

        .play-store {
            @include d_flex($flex, column, $center, $center);
            width: 43.66%;
            background-image: url("../../../assets/advertising/footer/Rectangle\ 4.png");

            .play {
                //dimensões originais(410W x 159.8H) divisão por 1.2
                @include size(133.16px, 341.66px);
                cursor: $pointer;
                transition-property: all;
                transition-duration: 0.5s;

                &:hover {
                    @include size(146.47px, 375.82px);
                }
            }

            .phone {
                //dimensões originais(523W x 355H) divisão por 1.2
                @include size(295.83px, 435.83px);
                margin-top: $hundred_pixel;
            }
        }

        .contact {
            width: 56.34%;

            .titulo {
                @include d_flex($flex, row, $center, end);
                height: 30%;

                .banner-title {
                    @include f_size(x-large);
                    color: $third;
                }
            }

            .form-social {
                height: 65%;
                overflow: $hidden;
                display: $flex;

                .form {
                    @include size($hundred_percent, 80%);
                    padding: 30px;

                    .formulary {
                        margin-top: $hundred_pixel*1.5;
                    }
                }

                .social {
                    @include size($hundred_percent, 20%);
                    @include d_flex($flex, column, start, start);

                    img {
                        cursor: $pointer;
                        margin-top: 30px;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .github {
                        margin-top: $hundred_pixel;
                    }
                }
            }

            .copy {
                @include f_size(large);
                @include d_flex($flex, row, end, start);
                height: 5%;
                color: $third;

                strong {
                    margin-right: 10%;
                }
            }
        }
    }

    //mobile tablet ...
    @media(max-width: 991px) {

        height: 36.34%;
        flex-direction: column;

        .play-store {
            @include size(42.71%, 100vw);

            .play {
                @include size(266px, 686px);
            }

            .phone {
                @include size(516px, 760px);
            }
        }

        .contact {
            @include size(57.29%, 100vw);

            .titulo {
                padding: 20px;
                height: 10%;
            }

            .form-social {
                flex-direction: column;
                height: 85%;

                .form {

                    height: 30%;
                    width: 100%;
                    padding: 120px;

                    .formulary {
                        margin: 0;
                    }
                }

                .social {
              
                    height: 70%;
                    width: 100%;
                    justify-content: $center;
                    align-items: $center;
                    padding: 0;

                    .github,
                    .facebook,
                    .linkedin,
                    .instagram,
                    .youtube {
                        @include size(80px, 80px);
                    }

                    .github {
                        margin: 0;
                    }

                }
            }

            .copy {
                @include d_flex($flex, row, $center, $center);
                strong {
                    margin: 0;
                }
            }

        }
    }

    //mobile smartphone ...
    @media(max-width: 769px) {

        height: 40.44%;

        .play-store {

            height: 21.40%;
            .play {
                @include size(127px, 326px);
            }

            .phone {
                @include size(239px, 352px);
            }
        }

        .contact {

            height: 78.6%;

            .form-social {
                .form {
                    padding: 60px;
                }
                .social {

                    .github,
                    .facebook,
                    .linkedin,
                    .instagram,
                    .youtube {
                        @include size(120px, 120px);
                        margin-bottom: 50px;
                    }

                }
            }
        }
    }

    @media(max-width: 576px){

        .contact {

            .form-social{
                
                .social{
                    justify-content: space-between;
                }
            }

            //não está respondendo mais a nehum comando em nehum bloco
            .copy{
                strong{}
            }
        }
    }
    
}