@import '../../../styles/index.scss';

.footer {
    height: 24.66%;
    display: $flex;
    overflow: $hidden;
    font-family: font();

    .play-store {
        @include d_flex($flex, column, $center, $center);
        width: 43.66%;
        background-image: url("../../../assets/advertising/footer/Rectangle\ 4.png");

        .play {
            //dimensões originais(410W x 159.8H) divisão por 1.2
            @include size(133.16px, 341.66px);
            cursor: $pointer;
            transition-property: all;
            transition-duration: 0.5s;

            &:hover {
                @include size(146.47px, 375.82px);
            }
        }

        .phone {
            //dimensões originais(523W x 355H) divisão por 1.2
            @include size(295.83px, 435.83px);
            margin-top: $hundred_pixel;
        }
    }

    .contact {
        width: 56.34%;

        .titulo {
            @include d_flex($flex, row, $center, end);
            height: 30%;

            .title {
                //dimensões originais(659W x 63.32H) divisão por 1.6
                @include size(39.57px, 411.87px);
            }
        }

        .form-social {
            height: 65%;
            overflow: $hidden;
            display: $flex;

            .form {
                @include size($hundred_percent, 80%);
                padding: 30px;

                .formulary {
                    margin-top: $hundred_pixel*1.5;
                }
            }

            .social {
                @include size($hundred_percent, 20%);
                @include d_flex($flex, column, start, start);

                img {
                    cursor: $pointer;
                    margin-top: 30px;
                }

                .github {
                    margin-top: $hundred_pixel;
                }
            }
        }

        .copy {
            @include f_size(small);
            @include d_flex($flex, row, end, start);
            height: 5%;
            color: $third;

            strong {
                margin-right: 10%;
            }
        }
    }
}