@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@media (max-width: 1444px) {
  .footer {
    height: 24.66%; } }

@media (max-width: 1024px) {
  .footer {
    display: flex;
    font-family: "Bebas Neue", sans-serif; }
    .footer .play-store {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 43.66%;
      background-image: url("../../../assets/advertising/footer/Rectangle 4.png"); }
      .footer .play-store .play {
        height: 133.16px;
        width: 341.66px;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.5s; }
        .footer .play-store .play:hover {
          height: 146.47px;
          width: 375.82px; }
      .footer .play-store .phone {
        height: 295.83px;
        width: 435.83px;
        margin-top: 100px; }
    .footer .contact {
      width: 56.34%; }
      .footer .contact .titulo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        height: 30%; }
        .footer .contact .titulo .banner-title {
          font-size: x-large;
          font-size: x-large;
          color: #192c54; }
      .footer .contact .form-social {
        height: 65%;
        overflow: hidden;
        display: flex; }
        .footer .contact .form-social .form {
          height: 100%;
          width: 80%;
          padding: 30px; }
          .footer .contact .form-social .form .formulary {
            margin-top: 150px; }
        .footer .contact .form-social .social {
          height: 100%;
          width: 20%;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start; }
          .footer .contact .form-social .social img {
            cursor: pointer;
            margin-top: 30px; }
            .footer .contact .form-social .social img:hover {
              opacity: 0.8; }
          .footer .contact .form-social .social .github {
            margin-top: 100px; }
      .footer .contact .copy {
        font-size: large;
        font-size: large;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: start;
        height: 5%;
        color: #192c54; }
        .footer .contact .copy strong {
          margin-right: 10%; } }

@media (max-width: 991px) {
  .footer {
    height: 36.34%;
    flex-direction: column; }
    .footer .play-store {
      height: 42.71%;
      width: 100vw; }
      .footer .play-store .play {
        height: 266px;
        width: 686px; }
      .footer .play-store .phone {
        height: 516px;
        width: 760px; }
    .footer .contact {
      height: 57.29%;
      width: 100vw; }
      .footer .contact .titulo {
        padding: 20px;
        height: 10%; }
      .footer .contact .form-social {
        flex-direction: column;
        height: 85%; }
        .footer .contact .form-social .form {
          width: 100%;
          padding: 100px; }
        .footer .contact .form-social .social {
          width: 100%;
          justify-content: center;
          align-items: center;
          padding: 0; }
          .footer .contact .form-social .social .github,
          .footer .contact .form-social .social .facebook,
          .footer .contact .form-social .social .linkedin,
          .footer .contact .form-social .social .instagram,
          .footer .contact .form-social .social .youtube {
            height: 80px;
            width: 80px; }
          .footer .contact .form-social .social .github {
            margin: 0; }
      .footer .contact .copy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .footer .contact .copy strong {
          margin: 0; } }

@media (max-width: 769px) {
  .footer {
    height: 40.44%; }
    .footer .play-store {
      height: 21.40%; }
      .footer .play-store .play {
        height: 127px;
        width: 326px; }
      .footer .play-store .phone {
        height: 239px;
        width: 352px; }
    .footer .contact {
      height: 78.6%; }
      .footer .contact .form-social .form {
        padding: 60px; }
      .footer .contact .form-social .social .github,
      .footer .contact .form-social .social .facebook,
      .footer .contact .form-social .social .linkedin,
      .footer .contact .form-social .social .instagram,
      .footer .contact .form-social .social .youtube {
        height: 120px;
        width: 120px; } }
