@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body .container main {
  font-family: 'Rubik', sans-serif; }

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Bebas Neue', cursive;
  overflow: hidden;
  background: #192C54;
  color: white; }
  body .experience {
    display: none; }
  body .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 15% 65% 20%;
    grid-template-areas: "aside header" "aside main" "footer footer"; }
    body .container header {
      grid-area: header;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      body .container header .togg-el {
        display: none; }
      body .container header div {
        width: 55%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        body .container header div h4 {
          font-size: 2.5rem; }
        body .container header div img {
          height: 50px;
          width: 50px;
          cursor: pointer; }
      body .container header span {
        font-weight: bold;
        font-size: 1.2rem;
        height: 100%;
        width: 15%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: black;
        transition-property: background-color, color;
        transition-duration: 0.5s; }
        body .container header span:hover {
          background-color: #E9E9E9;
          color: black;
          cursor: pointer; }
        @media screen and (max-width: 768px) {
          body .container header span {
            display: none; } }
      @media screen and (max-width: 949px) {
        body .container header div {
          width: 70%; }
        body .container header .togg-el {
          width: 30%; } }
      @media screen and (max-width: 826px) {
        body .container header div h4 {
          font-size: xx-large; }
        body .container header div img {
          height: 40px;
          width: 40px; } }
      @media screen and (max-width: 768px) {
        body .container header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 2em; }
          body .container header div {
            width: 50%; }
          body .container header .togg-el {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: end;
            line-height: 25px; }
            body .container header .togg-el i {
              margin-bottom: 5px; }
            body .container header .togg-el strong {
              padding: 0.2em; }
              body .container header .togg-el strong:hover {
                background-color: #E9E9E9;
                color: black;
                cursor: pointer; } }
      @media screen and (max-width: 635px) {
        body .container header div {
          width: 60%; }
        body .container header .togg-el {
          width: 40%; } }
      @media screen and (max-width: 545px) {
        body .container header div {
          width: 70%; }
        body .container header .togg-el {
          width: 30%; } }
      @media screen and (max-width: 477px) {
        body .container header div {
          width: 90%; }
        body .container header .togg-el {
          width: 10%; } }
    body .container aside {
      grid-area: aside;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center; }
      body .container aside .aside-info strong,
      body .container aside .aside-info i {
        font-size: 50px; }
      body .container aside #search {
        width: 90%;
        outline: none;
        border: solid 1px rgba(0, 0, 0, 0.7);
        padding: 0.5em;
        background-color: #4C5A75;
        color: #E9E9E9; }
        body .container aside #search:hover {
          box-shadow: 0px 0px 3px #E9E9E9; }
      @media screen and (max-width: 768px) {
        body .container aside .aside-info {
          display: none; } }
    body .container main {
      overflow-y: scroll;
      background-color: #141F3C;
      padding: 0.5em;
      background-color: #E9E9E9;
      color: white;
      grid-area: main; }
      body .container main .tb {
        width: 100%;
        box-shadow: 0px 0px 5px rgba(76, 90, 117, 0.6);
        background-color: #141F3C; }
        body .container main .tb .tb-hd {
          color: white;
          letter-spacing: 0.1em;
          background-color: #141F3C;
          font-size: x-large; }
        body .container main .tb .tb-bd {
          font-weight: bold;
          color: white;
          letter-spacing: 0.1em;
          background-color: #4C5A75; }
          body .container main .tb .tb-bd ul {
            padding: 0.5em;
            background-color: #000000; }
      body .container main .tb_search {
        width: 100%;
        box-shadow: 0px 0px 5px rgba(76, 90, 117, 0.6);
        background-color: #141F3C; }
        body .container main .tb_search .tb-hd {
          color: white;
          letter-spacing: 0.1em;
          background-color: #141F3C;
          font-size: x-large; }
        body .container main .tb_search .tb-bd {
          font-weight: bold;
          color: white;
          letter-spacing: 0.1em;
          background-color: #4C5A75; }
          body .container main .tb_search .tb-bd ul {
            padding: 0.5em;
            background-color: #000000; }
      @media screen and (max-width: 651px) and (orientation: landscape) {
        body .container main ul {
          font-size: small; } }
      @media screen and (max-width: 533px) and (orientation: landscape) {
        body .container main ul {
          font-size: x-small; } }
      @media screen and (max-width: 320px) and (orientation: landscape) {
        body .container main ul {
          font-size: xx-small; } }
    body .container footer {
      background-color: black;
      grid-area: footer;
      display: grid;
      grid-template-columns: 300px 1fr 300px;
      grid-template-rows: 30% 40% 30%;
      grid-template-areas: "cp   scl  atr" "cp   scl  atr" "cp   scl  atr"; }
      body .container footer .copy {
        padding: 0.3em;
        grid-area: cp;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
        font-size: small; }
        @media screen and (max-width: 768px) {
          body .container footer .copy {
            font-size: x-small;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; } }
      body .container footer .social {
        background: #BB2020;
        grid-area: scl;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; }
        body .container footer .social i {
          cursor: pointer;
          font-size: 30px; }
          @media screen and (max-width: 768px) {
            body .container footer .social i {
              font-size: 20px; } }
      body .container footer .author {
        padding: 0.3em;
        grid-area: atr;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end; }
        body .container footer .author i {
          margin: 0.2rem; }
        @media screen and (max-width: 768px) {
          body .container footer .author {
            display: none; } }
      @media screen and (max-width: 768px) {
        body .container footer {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 60% 40%;
          grid-template-areas: "scl   scl" "cp     cp"; } }
    @media screen and (max-width: 768px) and (orientation: landscape) {
      body .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 20% 85% 15%;
        grid-template-areas: "header header" "aside  aside" "main    main" "footer footer"; } }
    @media screen and (max-width: 768px) and (orientation: portrait) {
      body .container {
        display: none; } }
  @media screen and (max-width: 768px) and (orientation: portrait) {
    body .experience {
      font-size: 1.5rem;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 90vh;
      width: 95vw; }
      body .experience .phone {
        height: 80%;
        width: 95%; } }
  @media screen and (max-width: 768px) and (orientation: landscape) {
    body {
      overflow: scroll;
      height: 150vh;
      width: 100vw; } }
