@import '../../../styles/index.scss';

.header {
    
    //desktop
    @media(max-width: 1444px){
        // border: solid 5px darkred;
        @include d_flex($flex, row, $center, $center);

        height: 16.67%;

        background: rgba(25, 44, 84, 0.6);
        overflow: $hidden;

        .social-banner{
            // border: solid 5px darkblue;
            @include size($hundred_percent, 44.22%);

            overflow: $hidden;

            .social{
                // border: solid 5px darkkhaki;
                @include size(65.05%, $hundred_percent);

                display: $flex;
                align-items: $center;
                justify-content: $center;

                .social-container{
                    // border: solid 5px darkgray;
                    display: $flex;
                    justify-content: space-evenly;
                    width: 80%;

                    .github,
                    .linkedin,
                    .instagram,
                    .facebook,
                    .youtube{
                        @include size(50px, 50px);
                    }
                }
            }
            .banner{
                // border: solid 5px darkcyan;
                
                @include size(34.95%, $hundred_percent);

                .banner-text-mobile1{
                    display: $none;
                }
                .banner-text-mobile2{
                    display: $none;
                }
            }
        }

        .app-access{
            // border: solid 5px black;
            @include size($hundred_percent, 55.78%);
        }
        
    }
    
    @media(max-width: 1024px) {
        
        .social-banner {

            .social {

                // @include size(65.05%, $hundred_percent);

                .social-container {
                
                    // display: $flex;
                    // justify-content: space-evenly;
                    // width: 80%;
                    
                    img {
                       
                        cursor: $pointer;

                        &:hover{
                            opacity: 0.8;
                        }
                    }
                }
            }

            .banner {
              
                // @include size(34.95%, $hundred_percent);

                @include d_flex($flex, row, flex-end, end);

                img {
                
                    width: 100%;
                    //dimensões originais(636.87W x 209.05H) divisão por 1,5   
                    @include size(138.66px, 457.33px);
                }
            }
        }

        .app-access {
           
            @include size($hundred_percent, 55.78%);

            .logo {
             
                .banner-logo{
                    //dimensões originais(656W x 293.47H) divisão por 1,2  
                    @include size(244.55px, 546.66px);
                    margin-top: 20%;
                }
            }

            .acesse-aqui {
                
                @include d_flex($flex, row, $center, $center);

                img {
                   
                    cursor: $pointer;

                    //dimensões originais(446W x 140.71H) divisão por 1,2  
                    @include size(117.25px, 371.66px);

                    &:hover {
                        background: rgba($color: #000000, $alpha: 0.4);
                    }
                }
            }
        }

    }
    
    //mobile tablet
    @media(max-width: 991px) {

        height: 13.09%;

        flex-direction: column-reverse;
        .social-banner{

            @include size(46.47%, 100vw);

            .social{

                height: 24.46%;

                .social-container{

                    width: 50%;
                }
            }
            .banner{

                @include d_flex($flex, column, $center, $center);

                color: $light;
                background: rgba(25, 44, 84, 0.6);
                height: 75.54%;

                .banner-img-desktop{

                    display: $none;
                }
                .banner-text-mobile1{

                    @include f_size(45px);

                    font-weight: bold;
                    display: $flex;
                }
                .banner-text-mobile2{

                    @include f_size(45px);

                    font-weight: bold;
                    display: $flex;
                }
            }
        }
        .app-access{

            @include size(53.53%, 100vw);

            .logo{
                display: $flex;
                justify-content: $center;
                align-items: $center;

                .banner-logo{

                    @include size(157px, 353px);

                }
            }

        }
    }

    //mobile smartphone
    @media(max-width: 769px){

        height: 11.66%;
       
        
        .social-banner{

            height: 58.11%;

            .banner{
                
                padding: 25px;
            }
        }
        .app-access{ 
            
            height: 41.89%;

            padding: 50px;

            .logo{

                .banner-logo{
                    margin: 0;
                    @include size(128px, 287px);
                }
            }

            .acesse-aqui{
                .banner-acesse-aqui{
                    @include size(81.61px, 260px);
                }
            }

        }
    }

    @media(max-width: 576px){

        .social-banner{
  

            .banner{

                text-align: center;

                div{
                    .banner-text-mobile1,
                    .banner-text-mobile2{
                        
                        @include f_size(35px);
                        margin: 40px 0px;
                    }
                }
            }
            .social{
                .social-container{
                    width: 100%;
                }
            }
        }
        
    }

    
}