@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@media (min-width: 1445px) {
  .header {
    display: none; } }

@media (max-width: 1444px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 16.67%;
    background: rgba(25, 44, 84, 0.6);
    overflow: hidden; }
    .header .social-banner {
      height: 100%;
      width: 50%;
      overflow: hidden; }
      .header .social-banner .social {
        height: 65.05%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .header .social-banner .social .social-container {
          display: flex;
          justify-content: space-evenly;
          width: 60%; }
          .header .social-banner .social .social-container .github,
          .header .social-banner .social .social-container .linkedin,
          .header .social-banner .social .social-container .instagram,
          .header .social-banner .social .social-container .facebook,
          .header .social-banner .social .social-container .youtube {
            height: 50px;
            width: 50px; }
      .header .social-banner .banner {
        height: 34.95%;
        width: 100%;
        background: rgba(25, 44, 84, 0.8);
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center; }
        .header .social-banner .banner div {
          padding: 2em;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 86%;
          height: 100%; }
          .header .social-banner .banner div .banner-text1 {
            font-size: 40px;
            font-weight: bold; }
          .header .social-banner .banner div .banner-text2 {
            font-size: 40px;
            font-weight: bold; }
    .header .app-access {
      height: 100%;
      width: 50%; }
      .header .app-access .logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: end;
        height: 70%; }
      .header .app-access .acesse-aqui {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 30%; } }

@media (max-width: 1373px) {
  .header .app-access {
    height: 100%;
    width: 55.78%; }
    .header .app-access .logo {
      align-items: center; }
      .header .app-access .logo .banner-logo {
        height: 144.55px;
        width: 446.66px; } }

@media (max-width: 1024px) {
  .header .social-banner .social {
    height: 65.05%;
    width: 100%; }
    .header .social-banner .social .social-container {
      width: 80%; }
      .header .social-banner .social .social-container img {
        cursor: pointer; }
        .header .social-banner .social .social-container img:hover {
          opacity: 0.8; }
  .header .social-banner .banner {
    height: 34.95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end; }
    .header .social-banner .banner div {
      width: 100%; }
      .header .social-banner .banner div .banner-text1 {
        font-size: 29px;
        font-weight: bold; }
      .header .social-banner .banner div .banner-text2 {
        font-size: 29px;
        font-weight: bold; }
  .header .app-access {
    height: 100%;
    width: 55.78%; }
    .header .app-access .logo {
      align-items: center; }
      .header .app-access .logo .banner-logo {
        height: 144.55px;
        width: 446.66px; }
    .header .app-access .acesse-aqui {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .header .app-access .acesse-aqui img {
        cursor: pointer;
        height: 117.25px;
        width: 371.66px; }
        .header .app-access .acesse-aqui img:hover {
          background: rgba(0, 0, 0, 0.4); } }

@media (max-width: 991px) {
  .header {
    height: 13.09%;
    flex-direction: column-reverse; }
    .header .social-banner {
      height: 46.47%;
      width: 100vw; }
      .header .social-banner .social {
        height: 24.46%; }
        .header .social-banner .social .social-container {
          width: 50%; }
      .header .social-banner .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: rgba(25, 44, 84, 0.6);
        height: 75.54%; }
        .header .social-banner .banner .banner-img-desktop {
          display: none; }
        .header .social-banner .banner div {
          height: 100%;
          width: 80%; }
          .header .social-banner .banner div .banner-text1 {
            font-size: 45px; }
          .header .social-banner .banner div .banner-text2 {
            font-size: 45px; }
    .header .app-access {
      height: 53.53%;
      width: 100vw; }
      .header .app-access .logo {
        display: flex;
        justify-content: center;
        align-items: center; }
        .header .app-access .logo .banner-logo {
          height: 157px;
          width: 353px; } }

@media (max-width: 769px) {
  .header {
    height: 11.66%; }
    .header .social-banner {
      height: 58.11%; }
      .header .social-banner .banner {
        padding: 25px; }
    .header .app-access {
      height: 41.89%;
      padding: 50px; }
      .header .app-access .logo .banner-logo {
        margin: 0;
        height: 128px;
        width: 287px; }
      .header .app-access .acesse-aqui .banner-acesse-aqui {
        height: 81.61px;
        width: 260px; } }

@media (max-width: 576px) {
  .header .social-banner .banner {
    text-align: center; }
    .header .social-banner .banner div .banner-text1,
    .header .social-banner .banner div .banner-text2 {
      font-size: 35px;
      margin: 40px 0px; }
  .header .social-banner .social .social-container {
    width: 100%; } }

@media (max-width: 400px) {
  .header .social-banner .banner div .banner-text1,
  .header .social-banner .banner div .banner-text2 {
    font-size: 32px; } }
