@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.header {
  height: 16.67%;
  background-image: url("../../../assets/advertising/header/Rectangle.png"); }
  @media (max-width: 1024px) {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .header .social-banner {
        overflow: hidden;
        height: 100%;
        width: 44.22%; }
        .header .social-banner .social {
          height: 65.05%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center; }
          .header .social-banner .social .social-container {
            display: flex;
            justify-content: space-evenly;
            width: 80%; }
            .header .social-banner .social .social-container img {
              cursor: pointer; }
        .header .social-banner .banner {
          height: 34.95%;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: end; }
          .header .social-banner .banner img {
            width: 100%;
            height: 138.66px;
            width: 457.33px; }
      .header .app-access {
        overflow: hidden;
        height: 100%;
        width: 55.78%; }
        .header .app-access .logo > img {
          height: 244.55px;
          width: 546.66px;
          margin-top: 20%; }
        .header .app-access .acesse-aqui {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
          .header .app-access .acesse-aqui img {
            cursor: pointer;
            height: 117.25px;
            width: 371.66px; }
            .header .app-access .acesse-aqui img:hover {
              background: rgba(0, 0, 0, 0.4); } }
