@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.main {
  height: 58.67%; }
  @media (max-width: 1024px) {
    .main .banner-agenda-info {
      overflow: hidden;
      display: flex;
      height: 54.33%; }
      .main .banner-agenda-info .lista {
        width: 44.05%;
        background: rgba(25, 44, 84, 0.2); }
        .main .banner-agenda-info .lista img {
          height: 100%;
          width: 456.51px; }
      .main .banner-agenda-info .notificacao {
        width: 55.95%;
        background: rgba(25, 44, 84, 0.4);
        filter: brightness(90%);
        overflow: hidden; }
        .main .banner-agenda-info .notificacao img {
          height: 100%;
          width: 575.77px; }
    .main .banner-relatorio-xslx-pdf {
      background-color: rgba(25, 44, 84, 0.1);
      height: 45.67%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main .banner-relatorio-xslx-pdf .icons {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        width: 80%; } }
