@import '../../styles/index.scss';

.main {
    height: 58.67%;

    @media(max-width: 1024px) {
        .banner-agenda-info {
            overflow: $hidden;
            display: $flex;
            height: 54.33%;

            .lista {
                width: 44.05%;
                background: rgba(25, 44, 84, 0.2);
                img {
                    @include size($hundred_percent, 456.51px); //width(639.12) dividido por 1.4
                }
            }

            .notificacao {
                width: 55.95%;
                background: rgba(25, 44, 84, 0.4);
                filter: brightness(90%);
                overflow: $hidden;
                img {
                    @include size($hundred_percent, 575.77px); //width(806.09) dividido por 1.4
                }
            }
        }

        .banner-relatorio-xslx-pdf {
            background-color: rgba(25, 44, 84, 0.1);    
            height: 45.67%;
            overflow: $hidden;
            @include d_flex($flex, column, $center, $center);

            .titulo {}

            .icons {
                display: $flex;
                justify-content: space-between;
                margin-top: 100px;
                width: 80%;
            }
        }
    }
}