@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@media (max-width: 1444px) {
  .main .banner-lista-mobile {
    display: none; }
  .main .text-lista-mobile {
    display: none; }
  .main .mobile-titulo {
    display: none; } }

@media (max-width: 1024px) {
  .main {
    height: 58.67%; }
    .main .banner-agenda-info {
      overflow: hidden;
      display: flex;
      height: 54.33%;
      background: rgba(25, 44, 84, 0.4); }
      .main .banner-agenda-info .lista-agenda {
        display: flex;
        justify-content: center;
        align-items: center; }
        .main .banner-agenda-info .lista-agenda .lista {
          height: 861.66px;
          width: 1092.5px; }
    .main .banner-relatorio-xslx-pdf {
      background-color: rgba(25, 44, 84, 0.1);
      height: 45.67%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .main .banner-relatorio-xslx-pdf .icons {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        width: 80%; } }

@media (max-width: 991px) {
  .main {
    height: 50.57%; }
    .main .banner-agenda-info {
      background: rgba(25, 44, 84, 0.4); }
      .main .banner-agenda-info .lista-agenda {
        flex-direction: column; }
        .main .banner-agenda-info .lista-agenda .lista {
          display: none; }
        .main .banner-agenda-info .lista-agenda .banner-lista-mobile {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50%;
          width: 100vw; }
        .main .banner-agenda-info .lista-agenda .text-lista-mobile {
          font-size: xx-large;
          font-size: xx-large;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          color: #fff;
          display: flex;
          font-weight: bold;
          height: 50%; }
          .main .banner-agenda-info .lista-agenda .text-lista-mobile li {
            padding: 10px; }
    .main .banner-relatorio-xslx-pdf .titulo {
      height: 10%;
      width: 100vw; }
      .main .banner-relatorio-xslx-pdf .titulo .desktop-titulo {
        display: none; }
      .main .banner-relatorio-xslx-pdf .titulo .mobile-titulo {
        display: block;
        text-align: center;
        position: relative;
        top: 70%; }
        .main .banner-relatorio-xslx-pdf .titulo .mobile-titulo h2 {
          font-size: x-large;
          font-size: x-large;
          color: #192c54;
          font-weight: bold; }
    .main .banner-relatorio-xslx-pdf .icons {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 90%;
      width: 100vw; }
      .main .banner-relatorio-xslx-pdf .icons .pdf {
        height: 333px;
        width: 333px; }
      .main .banner-relatorio-xslx-pdf .icons .xlsx {
        height: 370px;
        width: 272px; } }

@media (max-width: 619px) {
  .main .banner-agenda-info .lista-agenda .banner-lista-mobile {
    height: 35%; }
  .main .banner-agenda-info .lista-agenda .text-lista-mobile {
    height: 65%;
    padding: 3em; } }

@media (max-width: 521px) {
  .main .banner-agenda-info .lista-agenda .banner-lista-mobile .lista-mobile {
    height: 369.6px;
    width: 400.8px; } }

@media (max-width: 457px) {
  .main .banner-agenda-info .lista-agenda .text-lista-mobile {
    padding: 20px;
    width: 100vw; } }

@media (max-width: 301px) {
  .main .banner-agenda-info .lista-agenda .text-lista-mobile {
    font-size: large;
    font-size: large; } }
