@import '../../styles/index.scss';

.main {
    height: 58.67%;

    @media(max-width: 1024px) {
        .banner-agenda-info {
            overflow: $hidden;
            display: $flex;
            height: 54.33%;
            background: rgba(25, 44, 84, 0.4);
           .lista-agenda{
                display: $flex;
                justify-content: $center;
                align-items: $center;
                .lista{
                    //dimensões originais(1311W x 1034.91H) divisão por 1,2  
                    @include size(861.66px, 1092.5px);
                }
           }
        }

        .banner-relatorio-xslx-pdf {
            background-color: rgba(25, 44, 84, 0.1);    
            height: 45.67%;
            overflow: $hidden;
            @include d_flex($flex, column, $center, $center);

            .titulo {}

            .icons {
                display: $flex;
                justify-content: space-between;
                margin-top: 100px;
                width: 80%;
            }
        }
    }
}