@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  height: 3568px; }
  body .App {
    height: 3568px; }
    body .App .advertising {
      height: 3568px; }
