@import './styles/index.scss';


* {
    margin: 0;
    padding: 0;
}

body {

    .App {
        .advertising {

            overflow: $hidden;
            
            //pcs largos e médios
            @media(max-width:1444px) {
                height: $desktop;
            }

            //tablets e smartphones
            @media(max-width:991px) {
                height: $mobile;

                //para testar o reajuste de visualização e eliminação de epaços
                // height: 5500px;
            }
        }

        .welcome {
            @media(max-width:1444px) {
                overflow: $hidden;
                height: $full_height;
                background: $sixth;
            }
        }
    }
}