@import './styles/index.scss';


* {
    margin: 0;
    padding: 0;
}

body {
    height: $desktop;

    .App {
        height: $desktop;

        .advertising {
            height: $desktop;
        }
    }
}