@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0; }

body .App .advertising {
  overflow: hidden; }
  @media (max-width: 1444px) {
    body .App .advertising {
      height: 3568px; } }
  @media (max-width: 991px) {
    body .App .advertising {
      height: 7452px; } }

@media (max-width: 1444px) {
  body .App .welcome {
    overflow: hidden;
    height: 100vh;
    background: #E9E9E9; } }
